.form {
    background: $color;
    width: 100%;
    padding: 50px 0;
    &__heading {
        @include heading(30);
        color: $background;
        text-align: left;
        margin-bottom: 20px;
    }
    &__label {
        display: block;
        width: 100%;
        &--color {
            color: $background;
            display: inline;
        }
    }
    &__field {
        width: 100%;
        margin: 10px 0 20px 0;
        background: $colorAccent;
        border: none;
        &--margin {
            margin-bottom: 50px;
        }
    }
    &--empty {
        display: none;
    }
}