.mascot {
    background: $colorAccent;
    padding: 30px 0;
    &__wrapper {
        width: 90%;
    }
    &__textBubble {
        position: relative;
    }
    &__messages {
        position: absolute;
        width: 85%;
        top: 7%;
        left: 7%;
    }
    &__text {
        font-weight: 700;
        text-align: center;
    }
    &__imageContainer {
        padding: 20px 0;
    }
} 