/* Landscape phones */
@media (min-width: 480px) {
    .header {
        height: 80vh;
        &__heading {
            font-size: 5.6rem;
            &--small {
                font-size: 4.2rem;
            }
        }
    }
    .nav {
        &__wrapper {
            align-items: flex-start;
        }
    }
    .userEntries {
        padding-top: 50px;
        &__heading {
            font-size: 3.6rem;
        }
    }
    .button {
        font-size: 2rem;
    }
    .moreInfo {
        &__heading {
            font-size: 3rem;
            margin-top: 30px;
            &--small {
                font-size: 1.6rem;
                margin-top: 20px;
            }
        }
        &__imageContainer {
            width: 20%;
            margin-top: 30px;
        }
        &__textContainer {
            margin-bottom: 50px;
        }
        &__button {
            margin-bottom: 50px;
        }
    }
    .form {
        padding: 75px 0;
        &__heading {
            font-size: 3.6rem;
        }
    }
    .userList {    
        &__wrapper {
            padding: 50px 0;
        }
        &__heading {
            font-size: 3.6rem;
        }
    }
    .mascot {
        &__textBubble {
            width: 75%;
        }
        &__text {
            font-size: 2.8rem;
            margin-top: 20px;
        }
    }
}

/* Landscape phone to portrait tablet */
@media (min-width: 768px) {
    .wrapper {
        width: 90%;
    }
    .header {
        height: 60vh;
        &__heading {
            &--small {
                margin-top: 50px; 
            }
        }
    }
    .nav {
        &__wrapper {
            align-items: center;
        }
        &__menu {
            margin-bottom: 0;
            justify-content: space-between;
        }
        &__heading {
            text-align: right;
        }
    }
    .userEntries {
        padding-top: 75px;
    }
    .moreInfo {
        &__heading {
            margin-top: 50px;
            &--small {
                margin-top: 30px;
            }
        }
        &__button {
            height: 40px;
            margin-bottom: 75px;
        }
        &__imageContainer {
            width: 12%;
            margin-top: 50px;
        }
    }
    .button {
        &:hover {
            box-shadow: 7px 7px 0 $text;
        }
    }    
    .userList {    
        &__wrapper {
            padding: 75px 0;
        }
    }
    .mascot {
        &__wrapper {
            width: 85%;
            padding-top: 30px;
            display: flex;
            justify-content: center;
            align-items: flex-start;
        }
        &__textBubble {
            width: 45%;
        }
        &__imageContainer {
            width: 50%;
        } 
        &__text {
            font-size: 2.4rem;
            margin-top: 25px;
            width: 85%;
        }       
    }
}

/* Portrait tablet and small desktops */
@media (min-width: 940px) {
    .wrapper {
        width: 80%;
    }
    body {
        font-size: 2.4rem;
    }
    .header {
        &__heading {
            font-size: 8rem;
            &--small {
                font-size: 5rem;
            }
        }
    }
    .userEntries {
        padding-top: 100px;
        &__heading {
            font-size: 4rem;
            text-align: left;
        }
        &__text {
            margin-top: 30px;
        }
    }
    .moreInfo {
        &__heading {
            font-size: 3.4rem;
            text-align: left;
            &--small {
                font-size: 1.8rem;
            }
        }
        &__imageContainer {
            width: 10%;
        }
        &__textContainer {
            margin-bottom: 100px;
        }
        &__text {
            margin-top: 30px;
        }
        &__button {
            margin-bottom: 100px;
        }
    }
    .button {
        font-size: 2.2rem;
        &--simple {
            margin: 0;
        }
    }
    .form {
        padding: 100px 0;
        &__heading {
            font-size: 4rem;
            text-align: left;
        }
        &__field {
        margin: 10px 0 30px 0;
        background: $colorAccent;
        border: none;
        }
    }
    .userList {
        &__heading {
            font-size: 4rem;
            text-align: left;
        }
        &__list {
            padding: 20px 0;
        }
        &__item {
            margin-top: 30px;
            &--taskCompleted {
                margin-top: 30px;
                opacity: 0.5;
            }
            &--color {
                color: $color;
            }
        }
    }
    .mascot {
        &__textBubble {
            width: 35%;
        }
        &__imageContainer {
            width: 40%;
        } 
        &__text {
            font-size: 2.4rem;
            margin-top: 15px;
            width: 85%;
        }       
    }    
}

/* Landscape tablet and laptops*/
@media (min-width: 1024px) {
    .moreInfo {
        &__heading {
            margin-top: 75px;
            &--small {
                margin-top: 30px;
            }
        }
    }
    .mascot {
        &__textBubble {
            width: 33%;
        }
        &__imageContainer {
            width: 35%;
        }      
    } 
}

/* Landscape tablet and laptops*/
@media (min-width: 1280px) {
    .wrapper {
        width: 70%;
    }
    .mascot {
        &__textBubble {
            width: 30%;
        }   
    } 
}